@model List<Exercises.Models.Data.Course>
@{
    ViewBag.Title = "Courses";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Edit Course</th>
                    <th>Delete Course</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CourseId</td>
                        <td>@course.CourseName</td>
                        <td>@Html.ActionLink("Edit Course", "EditCourse", "Admin", new { id = course.CourseId }, null)</td>
                        <td>@Html.ActionLink("Delete Course", "DeleteCourse", "Admin", new { id = course.CourseId }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Add Course", "AddCourse", "Admin")
    </div>
</div>
